
<!-- <h1 align = center>List of available videos</h1> -->

<!-- <div class="mat-elevation-z8"> -->
<table mat-table [dataSource]="video" class="mat-elevation-z8" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <div *matCellDef="let element1">-->
    <!-- <div *ngIf = "element1.status == 'approved'">  -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef><strong> No. </strong> </th>
    <td mat-cell *matCellDef="let element; let i = index;"> <strong>{{i+1}}</strong></td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef><strong> Title </strong></th>
    <td mat-cell *matCellDef="let element"> <strong>{{element.title}}</strong></td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef><strong> Category </strong></th>
    <td mat-cell *matCellDef="let element">{{element.category.categoryName}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef><strong> Description </strong></th>
    <td mat-cell *matCellDef="let element">{{element.description}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="uploadTime">
    <th mat-header-cell *matHeaderCellDef><strong> Uploaded On </strong></th>
    <td mat-cell *matCellDef="let element">{{element.createdOn | date}}</td>
  </ng-container>

  <ng-container matColumnDef="uploadBy">
    <th mat-header-cell *matHeaderCellDef><strong> Uploaded By </strong></th>
    <td mat-cell *matCellDef="let element">{{element.creator.name}}</td>
  </ng-container>

  <ng-container matColumnDef="play">
    <th mat-header-cell *matHeaderCellDef><strong> Play Video </strong></th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click) = "onPlay(element.id)">
      <span class="material-icons">
      play_circle
      </span> Play</button>  </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef><strong>Status</strong></th>
    <td mat-cell *matCellDef="let element">{{element.status}}</td>
         <!-- <button mat-icon-button color="primary" (click) ="onApprove(element,element.category)" > <span class="material-icons">thumb_up_alt</span></button> 
         <button mat-icon-button color="warn" (click) ="onReject(element)"> <span class="material-icons">thumb_down_alt</span></button>  -->
  </ng-container> -->

  <ng-container matColumnDef="editStatus">
  <th mat-header-cell *matHeaderCellDef><strong>Edit Status</strong></th>
  <td mat-cell *matCellDef="let element">
  <button mat-icon-button color="primary" (click) ="onApprove(element,element.category)" > <span class="material-icons">library_add_check</span></button> 
  <button mat-icon-button color="warn" (click) ="onReject(element)"> <span class="material-icons">unpublished</span></button> </td> 
</ng-container> -->

  




  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <video 
  *ngIf="prev_url" 
  [src]="prev_url" 
  style="width:300px; height:300px;" 
  controls></video> -->

<!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

<!-- </div> -->
<!-- <img [src]="imageToShow" alt="hi"> -->

<!-- <ng-template ngFor let-word [ngForOf] = "video">
  <div class="word">
    <div class="meaning">
      
      {{ word | json }} -->
      <!-- Word: {{word.id}}<br />
      Part Of Speech: {{word.title}}<br />
     Meaning: {{word.category}}<br /> -->
      <!-- Example Sentence: {{word}}<br /> -->
    <!-- </div>
  </div>
</ng-template> -->

