<button style="margin-left:45px; margin-top:10px; font-size: 1.5em;" mat-stroked-button color="primary">Manage Videos</button>

<div style="margin-left:50px; margin-top: 20px; margin-right:50px; justify-content: center; align-items: center;">
  <mat-tab-group animationDuration="200ms">
    <mat-tab label="All Videos"><app-video-status></app-video-status></mat-tab>
    <mat-tab label="Reported Videos"><app-reported-videos></app-reported-videos></mat-tab>
    <mat-tab label="Reported Comments"><app-reported-comments></app-reported-comments></mat-tab>
  </mat-tab-group>
</div>
