p {
    font-family: Lato;
  }

  .center {
    // margin: auto;
    // width: 60%;
    //padding: 50px;

    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
  }

  .example-full-width {
    width: 100%;
  }

  .title{
    font-size: 2.5em;
  }

  strong {
    font-size: 1em;
  }

  mat-card{
    width: 100%;
    margin-bottom:auto;
    font:14px Roboto;
  }

  
.example-spacer {
  float:right;
  color:#3F51B5;
}

.comm{
  color:#3F51B5;
  text-align:center;
  margin-top: 20px;
  margin: 20px;
  padding-top:40px;
}