<h2>Forgot Password <span style="float: right;  cursor: pointer;" mat-dialog-close class="material-icons">
    close
    </span></h2>
<form class="example-form" #uploadform="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>E-mail Id</mat-label>
        <input type="email" matInput placeholder="Enter your E-mail Id" name="email" [(ngModel)] = "email" required>
      </mat-form-field>
      <button mat-raised-button color="accent" (click) = "onForgotPassword()">Submit</button><br><br>
      {{message}}
</form>
