
<!-- <h1 align = center>List of available videos</h1> -->

<!-- <div class="mat-elevation-z8"> -->
  <button style="margin-left:45px; margin-top:10px; font-size: 1.5em;" mat-stroked-button color="primary">Home</button>
  
  <div style="margin-left:50px; margin-top: 20px; margin-right:50px; justify-content: center; align-items: center;">
  <section class="example-section">
    <!-- <label class="example-margin">Align:</label> -->
    <button mat-raised-button [class.phase-active]="activeButton == 'all'" (click)="onSelectAll()"> All Videos</button>
    <button mat-raised-button [class.phase-active]="activeButton == 'subscribed'" (click)="onSelectSubscribe()"> Subscribed Videos </button>
    <button mat-raised-button [class.phase-active]="activeButton == 'mostviewed'" (click)="onSelectMostViewed()"> Most Viewed Videos </button>
    
  </section>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <div *matCellDef="let element1">-->
    <!-- <div *ngIf = "element1.status == 'approved'">  -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef><strong> No. </strong> </th>
    <td mat-cell *matCellDef="let element; let i = index;"> <strong><div *ngIf = "element.status == 'APPROVED'">{{i+1}}  </div></strong></td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef><strong> Title </strong></th>
    <td mat-cell *matCellDef="let element"> <div *ngIf = "element.status == 'APPROVED'"><strong>{{element.title}}</strong> </div> </td>
  </ng-container>

  <!-- Weight Column -->
 
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef><strong> Description </strong></th>
    <td mat-cell *matCellDef="let element"> <div *ngIf = "element.status == 'APPROVED'">{{element.description}} </div> </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef><strong> Category </strong></th>
    <td mat-cell *matCellDef="let element"> <div *ngIf = "element.status == 'APPROVED'">{{element.category.categoryName}} </div> </td>
  </ng-container>

  <ng-container matColumnDef="creator">
    <th mat-header-cell *matHeaderCellDef><strong> Creator </strong></th>
    <td mat-cell *matCellDef="let element"> <div *ngIf = "element.status == 'APPROVED'">{{element.creator.name}} </div> </td>
  </ng-container>


  <ng-container  matColumnDef="views" >
    <th  mat-header-cell *matHeaderCellDef><strong *ngIf="activeButton == 'mostviewed'"> Views </strong></th>
    <td  mat-cell *matCellDef="let element"> <div *ngIf="activeButton == 'mostviewed'">{{element.views}} </div> </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="uploadTime">
    <th mat-header-cell *matHeaderCellDef><strong> Uploaded On </strong></th>
    <td mat-cell *matCellDef="let element"> <div *ngIf = "element.status == 'APPROVED'">{{element.createdOn | date}} </div> </td>
  </ng-container>

  <ng-container matColumnDef="play">
    <th mat-header-cell *matHeaderCellDef><strong> Play Video </strong></th>
    <td mat-cell *matCellDef="let element"> <div *ngIf = "element.status == 'APPROVED'"> <button mat-raised-button color="accent" (click) = "onPlay(element.id)">
      <span class="material-icons">
      play_circle
      </span> Play</button> </div> </td>
  </ng-container>
<!-- </div>
</div> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<video 
  *ngIf="prev_url" 
  [src]="prev_url" 
  style="width:300px; height:300px;" 
  controls></video>
</div>
<!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

<!-- </div> -->
<!-- <img [src]="imageToShow" alt="hi"> -->

<!-- <ng-template ngFor let-word [ngForOf] = "video">
  <div class="word">
    <div class="meaning">
      
      {{ word | json }} -->
      <!-- Word: {{word.id}}<br />
      Part Of Speech: {{word.title}}<br />
     Meaning: {{word.category}}<br /> -->
      <!-- Example Sentence: {{word}}<br /> -->
    <!-- </div>
  </div>
</ng-template> -->

