// .table {
//     // margin-top: 10px;
//     // margin-bottom: 10px;
//     padding-left: 40px;
//     padding-right: 40px;
//     width: 100%;
//     height:100%;
//     // overflow-y:scroll;
//     // float:left;
//     margin-right: 15px;
// }

table {
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}