<div class="container" align = "center">
  <br><br>

<button style="margin-left:10px; margin-top:3px; font-size: 1.5em;" mat-stroked-button color="primary">Upload Video</button>
<div class="container row">
  <div class="col-md-12">
      <div *ngIf="instruction" class="instruction">{{instruction}}</div>
  </div>
</div>
<form class="example-form" #uploadform="ngForm">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input type="text" matInput placeholder="Enter Title..." name="title" [(ngModel)]='dbfile.title' required>
    
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <input type="text" matInput placeholder="Enter Description..." name="description" [(ngModel)]='dbfile.description' required>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Category</mat-label>
    <mat-select name="category" [(ngModel)]="category_id" required>
      <mat-option *ngFor="let c of categories" [value]="c.id">
        {{c.categoryName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <input type="file" name="file1" class="fileInput" (change)="onFileChanged($event)"> -->
    <div class="fileSelect">
      <mat-toolbar class="onlyThis">
        <!-- Browse Button -->
        <button mat-flat-button color="primary" class="btn">
          Browse File
        </button>
        <!-- Fetch selected filed on change -->
        <input type="file" #fileInput id="uploadFile" (change)="onFileChanged($event)" name="file1" required>
        <!-- Display files names -->
        <input matInput [(ngModel)]="fileAttr" readonly name="name" />
      </mat-toolbar>
    </div>
    <br><br>
    <!-- <button mat-raised-button class="submit" color="primary" (click)="onUpload()" value="upload">Upload</button>
    <br><br>
    <button mat-raised-button class="submit" color="primary" (click)="onSaveData()" value="SAVE">Save</button> -->
  <div class="col-md-6">
      <input type="button" class="submit" (click)="onUpload()" *ngIf="isVisible" value="UPLOAD" id="btn1">
  </div>
  <div class="col-md-6 padd">
      <input type="button" class="submit" (click)="onSaveData()" *ngIf="!isVisible" value="SAVE" id="btn2">
  </div>
  <div class="container row">
    <div class="col-md-12">
        <div *ngIf="message" class="message">{{message}}</div>
    </div>
  </div>
</form>
</div>
