p {
    font-family: Lato;
  }

  .center {
    // margin: auto;
    // width: 60%;
    //padding: 50px;

    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
  }

  .example-full-width {
    width: 100%;
  }